@import url(./header/header.css);
@import url(./main/main.css);
@import url(./UI/notification.css);
* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}