@import url(./header/header.css);
@import url(./main/main.css);
@import url(./UI/notification.css);

// colors
$primary-color: aliceblue;
$body-color: aliceblue;
$product-background-color: white;

* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $body-color;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

.add_to_cart {
  background-color: orangered;
  padding: 0.6rem 0.6rem;
  border-radius: 0.2rem;
  color: white;
}

// global styles here
.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}
.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}
.page-wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}