<%-include("../includes/head")%>
 <link rel="stylesheet" href="/css/product.css" />
 <script src="/js/pages/shop/shop.js"  defer></script>
 <script src="/js/pages/shop/product.js" type="module" defer></script>
  <script src="/js/cart.js" defer></script>
</head>
<body>
    <%-include("../includes/navigation")%>
    <main class="main">
        <h1>Hello</h1>
    </main>
   
</body>