.main {
  // padding: 1rem 5%;
  margin-top: 10vh;
  padding: 1rem 5%;
}

.main h2 {
  text-align: center;
  padding: 1rem 0;
}

// @media (min-width: 1200px) {
//   .main {
//     padding: 1rem 0;
//   }
// }
